# Core Deep Learning Frameworks
tensorflow==2.13.0
torch==2.1.0
torchvision==0.16.0
timm==0.9.12

# Metrics & Image Processing
scikit-image==0.23.2
lpips==0.1.4
Pillow==10.0.1
numpy==1.25.2
pandas==2.1.1

# Visualization
matplotlib==3.8.0

# Utility & Experimental Logging
pickle-mixin==1.0.2
time-machine==2.14.0

# Optional (for Notebook testing)
jupyterlab==4.1.5
notebook==7.1.2



